<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Apple Metadata -->
		<link rel="apple-touch-icon" href="/images/bee.png">
		<link rel="apple-touch-startup-image" href="/images/bee.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="{{ site.title }}">

		<!-- Twitter Metadata -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:image" content="{{site.url | append: '/images/bee.png'}}" />

		{% if page.layout == 'post' %}
		<meta name="twitter:title" content="{{page.title}}" />
		<meta name="twitter:description" content="{{page.description}}" />
		{% else %}
		<meta name="twitter:title" content="{{ site.title }}" />
		<meta name="twitter:description" content="{{ site.description }}" />
		{% endif %}

		<!-- Facebook Metadata -->
		{% if page.layout == 'post' %}
		<meta property="og:url"                content="{{ site.url }}{{page.url}}" />
		<meta property="og:og:site_name"       content="~/" />
		<meta property="og:title"              content="{{ page.title }}" />
		<meta property="og:description"        content="{{ page.description }}" />
		<meta property="og:type"               content="article" />
		{% else %}
		<meta property="og:url"                content="{{ site.url }}" />
		<meta property="og:og:site_name"       content="~/" />
		<meta property="og:description"        content="{{ site.description }}" />
		<meta property="og:type"               content="website" />
		{% endif %}
		<meta property="og:image"              content="{{site.url | append: '/images/bee.png'}}" />

		<script src="https://kit.fontawesome.com/538595c0dd.js" crossorigin="anonymous"></script>

		{% seo %}
		{% feed_meta %}

		<link href="//fonts.googleapis.com/css?family=Antic+Slab|Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/screen.css">
		{% if page.print_stylesheet %}
			<link rel="stylesheet" media="print" href="{{ site.baseurl }}/css/print.css">
		{% endif %}
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

	</head>
	<body>
		{% include navigation.html %}
		<header class="titleBox">

			<h1 class="title">Baker</h1>

			<a href="{{site.baseurl }}/">
				<img src="{{ site.baseurl }}{{ site.data.company_details.logo_image }}" width="180" alt="logo">
			</a>

			<h1 class="title">Beanie</h1>
			<div>
		</header>
			
		<div class="container main-content">
			<section class="content">{{ content }}</section>
			{% include sidebar.html %}
		</div>
		<footer>
			<div class="container">
				<hr>
				&copy; {{ site.title }} {{ site.time | date: "%Y" }}. All rights reserved.
			</div>
		</footer>
	</body>
</html>
