---
layout: default
---
<article class="post">
	{% include post-heading.html post=page post_page=true %}
	<div class="image">
		<img src="{{ site.url | append: page.featured_image }}" alt="{{ page.title }}">
	</div>

	<div class="recipe-body">
		{{ content }}
	</div>	

	<div class="recipe-contents">
		<div class="ingredients">
			<h2>Ingredients</h2>
			
			<div class="recipe-overview">
				<i class="fas fa-utensils" style="margin-right: 4px; color: rgb(140, 190, 175);"></i><span>{{ page.recipe.servings }}</span>
			</div>

			{{ page.recipe.ingredients_markdown | markdownify }}
		</div>

		<div class="directions">
			<h2>Directions</h2>
			{{ page.recipe.directions_markdown | markdownify }}
		</div>
	</div>
</article>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.imgPin.min.js"></script>
<script>
	$(function() {
		$('a[href*=\\#]').on('click', function(event){
			var el = $(this.hash);
			if (el.length > 0) {
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
			}
		});
	});
</script>
